extends layout

block content
  h1= title


  p Welcome to #{title}

  form(method="post", action="/create")
        input(type="id",name="id",placeholder="Introduce id")
        input(type="text",name="username",placeholder="Introduce username")
        input(type="password",name="password",placeholder="Introduce password")
        input(type="submit",value="create")


   p usuarios :  #{usuarios}

   form(method="post", action="/sign")
       input(type="text",name="username",placeholder="Introduce algo")
       input(type="password",name="password",placeholder="Introduce algo")
       input(type="submit",value="sign")

    p usuario :  #{user}

    p token t:  #{jwt}

    form(method="post", action="/decode")
        input(type="hidden",name="token" value="#{jwt}" )
        input(type="submit",value="decodificar")

    p header :  #{header}
    p payload :  #{payload}